
__pycache__/botHandler.cpython-36.pyc
accounts.db
__pycache__/botHandler.cpython-37.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Tangram-Tip-Bot.iml
.idea/vcs.xml
.idea/workspace.xml
